<form action="/posts/uploadMultipleFiles" method="post" enctype="multipart/form-data">
    <div>
        <input multiple="multiple" type="file" name="files"/>
    </div>

    <div>
        <button class="btn indigo waves-effect waves-light"
                type="submit" name="save">

            Submit<i class="mdi-content-send right"></i>
        </button>
    </div>
</form>